<!-- Header -->
<div class="flex justify-content-between align-items-center">
    <h1>Articles using {{mode}}</h1>
    <p-button icon="pi pi-refresh" label="Reload" (click)="loadArticles()"></p-button>
</div>

<!-- Content -->
<div class="flex flex-column align-items-center gap-5">
    @if (loading) {
        <p-progressSpinner></p-progressSpinner>
    } @else {
        @for (article of articles; track article.id) {
            <p-card subheader="by {{article.author}} - {{article.publicationDate}}" class="w-full">
                <ng-template pTemplate="title">
                    <a [routerLink]="article.id" class="no-underline text-primary">{{article.title}}</a>
                </ng-template>
                <p class="m-0">{{article.description}}</p>
            </p-card>
        }
    } 
</div>