<p-table
    [value]="articles"
    [scrollable]="true"
    scrollHeight="flex"
    dataKey="id"
    [rows]="50"
    [paginator]="true"
    >
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Tags</th>
            <th>Author</th>
            <th>Publication date</th>
            <th>Last update</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-article>
        <tr>
            <td>{{ article.id }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.description }}</td>
            <td>
                @for (tag of article.tags; track $index) {
                    <p-chip>{{tag}}</p-chip>
                }
            </td>
            <td>{{ article.author }}</td>
            <td>{{ article.publicationDate }}</td>
            <td>{{ article.lastUpdateDate }}</td>
            <td><p-tag>{{ article.status }}</p-tag></td>
        </tr>
    </ng-template>

</p-table>